---
layout: default
title: Blog
---

<div class="blog-container">
    <div class="blog-header">
        <h1>Blog Posts</h1>
        <p class="lead">Thoughts and insights about AI, Machine Learning, and Technology</p>
    </div>

    <div class="posts-list">
        {% for post in site.posts %}
        <article class="post-card">
            <div class="post-meta">
                <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
            </div>
            <h2 class="post-title">
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
            {% if post.description %}
            <p class="post-excerpt">{{ post.description }}</p>
            {% endif %}
            <a href="{{ post.url }}" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
        </article>
        {% endfor %}
    </div>
</div>
