<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://images.unsplash.com/photo-1618331833071-ce81bd50d300?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80">
    <title>{{ page.title }}</title>
    
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    
    <header>
      <p align="center"><a href="/">Home</a> | <a href="/about">About</a> | <a href="/blog">Blog</a></p>
    </header>
    
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <p align="center"><a href="mailto:antonelli.bi@gmail.com"><i class="fas fa-envelope"></i></a>
   <a href="https://github.com/biagioantonelli"><i class="fab fa-github"></i></a>
   <a href="https://www.linkedin.com/in/biagio-antonelli/"><i class="fab fa-linkedin-in"></i></a></p>
   </ul>
  </footer>
  </body>

</html>
