<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Add the following line to include the favicon -->
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <ul>
                <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
                <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="/about">Projects</a></li>
                <li class="{% if page.url contains '/blog' %}active{% endif %}"><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {{ content }}
    </div>

    <footer>
        <div class="social-links">
            <a href="https://github.com/BiagioAntonelli" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/biagio-antonelli" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
            <a href="https://x.com/AntonelliBiagio" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            <!-- Add more social media links as needed -->
        </div>
    </footer>
</body>
</html>
